CLIENT_HOST=http://localhost:3000
MONGO_API=mongodb+srv://user01:classchat@messanger.t0gwc.mongodb.net/Messanger?retryWrites=true&w=majority                           
MAIL_USER=yeva.terteryan@gmail.com
MAIL_PASS=abc
PORT=8080


AUTH_PASS_PREFIX=Ecf%0L7gGYuidTU1vo!KhCsu
AUTH_PASS_SALT_ROUNDS=11
AUTH_JWT_SECRET=FWFvdeed8FFIUHV89fehjtF8UF9fwe
AUTH_JWT_EXP=1000m
AUTH_REFRESH_TOKEN_SIZE=32
AUTH_REFRESH_TOKEN_EXP=2592000000
